<htmL>
  <h1>Create a Team and Heroes!</h1>
  <form action="/teamer" method="post">
    <label for="team">
    Team Name: <input type="text" name="team[name]">
    Team Motto: <input type="text" name="team[motto]"></label>
  <h2> Hero 1 </h2>
    <label for="member1_name">Hero's Name: <input type="text" name="member1_name""></label>
    <label for="member1_power">Hero's Power: <input type="text" name="member1_power"></label>
    <label for="member1_bio">Hero's Biography: <input type="text" name="member1_bio"></label>
    <h2> Hero 2 </h2>

    <label for="member2_name">Hero's Name: <input type="text" name="member2_name"></label>
    <label for="member2_power">Hero's Power: <input type="text" name="member2_power"></label>
    <label for="member2_bio">Hero's Biography: <input type="text" name="member2_bio"></label>
  <h2> Hero 3 </h2>
    <label for="member3_name">Hero's Name: <input type="text" name="member3_name"></label>
    <label for="member3_power">Hero's Power: <input type="text" name="member3_power"></label>
    <label for="member3_bio">Hero's Biography: <input type="text" name="member3_bio"></label>
    <input type="submit" name="submit" value="submit">
  </form>
</htmL>